doctype html
html
  head
    title= title
    meta(name='author', content='Tomas Hornak')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    block content
